<footer>
    <div id="footer" class="container-fluid gradient">
        
        <div id="footer-panel" class="container">
            <p>Неофициальный ресурс. Не является собственностью ООО Бегет. Вся информация предоставлена "как есть", без каких-либо гарантий и обязательств</p>
            <p>Сайт в процессе разработки. Временный дизайн.</p>                    
            <!-- 
            <div class="row">
                <div class="col-xs-12">
                    <div id="footer-logo">
                        <a href="/" title="BeGet">
                            <img src="https://beget.com/img/logo-white.png" alt="BeGet" />
                        </a>
                    </div>
                    <div id="footer-langs">
                        <span id="en_lang">
                            <img src="https://beget.com/img/icons/icons_country/us.png" style="position: relative; top:-1px; left:3px;">
                            <span style="position: relative; left:7px;">English</span>
                        </span>
                    </div>
                    <div id="footer-socials" class="pull-right">
                        <ul>
                            <li>
                                <a href="https://twitter.com/begetru" target="_blank" title="BeGet Twitter">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://vk.com/begetru" target="_blank" title="BeGet ВКонтакте">
                                    <span class="fa fa-vk"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/LTDBeGet" target="_blank" title="BeGet FaceBook">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/LTD-Beget" target="_blank" title="BeGet GitHub">
                                    <span class="fa fa-github"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="footer-contacts" class="col-xs-6">
                    <h4>Контактная информация:</h4>

                    <div class="by-country">
                        <div class="phones">
                            <span>Россия:</span>
                            <ul>
                                <li>+7 (495) 721-80-88</li>
                                <li>+7 (812) 385-41-36</li>
                                <li>+7 (800) 700-06-08</li>
                            </ul>
                        </div>
                        <div class="phones">
                            <span>Украина:</span>
                            <ul>
                                <li>+380 (44) 300-02-18</li>
                                <li>0 (800) 802-192</li>
                            </ul>
                        </div>

                        <div id="beget-call-footer">
                            <a onclick="javascript: return false" style="display: inline-block; margin-left: 85px; margin-top: 10px; font-family: 'PT Sans', sans-serif; font-size: 14px; text-align: left;  margin-bottom: 2px; padding-left: 20px; color:#fff;"
                                class="icon icon-call" href="#" data-beget-call>Звонок с сайта</a>
                        </div>
                    </div>
                    <div class="by-department">
                        <ul>
                            <li>
                                <span class="label">Тех. поддержка: </span>
                            </li>
                            <li>
                                <a href="mailto:support@beget.com">support@beget.com</a>
                            </li>
                            <li>
                                <span class="label">Бухгалтерия: </span>
                            </li>
                            <li>
                                <a href="mailto:bills@beget.com">bills@beget.com</a>
                            </li>
                            <li>
                                <span class="label">Отзывы о работе: </span>
                            </li>
                            <li>
                                <a href="mailto:feedback@beget.com">feedback@beget.com</a>
                            </li>
                            <li>
                                <span class="label">Руководство: </span>
                            </li>
                            <li>
                                <a href="mailto:manager@beget.com">manager@beget.com</a>
                            </li>
                            <li>
                                <span class="label">Telegram: </span>
                            </li>
                            <li>
                                <a href="tg://resolve?domain=begetbot">@begetbot</a>
                            </li>
                            <li>
                                <span class="label">Skype: </span>
                            </li>
                            <li>
                                <a href="https://join.skype.com/bot/ceda3526-d09b-4157-b6f0-91a646073c7e?add" target="_blank">Добавить в Skype</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="footer-menu" class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>Меню:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <nav>
                                <ul class="menu">
                                    <li>
                                        <a href="/ru/about">О компании</a>
                                        <li>
                                            <a href="/ru/news">Новости</a>
                                            <li>
                                                <a href="/ru/bonuses">Бонусы</a>
                                                <li>
                                                    <a href="/ru/partnership">Партнерство</a>
                                                    <li>
                                                        <a href="/ru/documents">Документы</a>
                                                        <li>
                                                            <a href="/ru/career">Вакансии</a>
                                                            <li>
                                                                <a href="/ru/contacts">Контакты</a>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-xs-4 no-padding">
                            <nav>
                                <ul class="menu">
                                    <li>
                                        <a href="/ru/virtual-hosting">Виртуальный хостинг</a>
                                        <li>
                                            <a href="/ru/vip-hosting">VIP-хостинг</a>
                                            <li>
                                                <a href="/ru/dedicated-servers">Аренда серверов</a>
                                                <li>
                                                    <a href="/ru/domain-register">Регистрация доменов</a>
                                                    <li>
                                                        <a href="/ru/ssl-certificates">SSL сертификаты</a>
                                                        <li>
                                                            <a href="/ru/cms">Продажа CMS</a>
                                                            <li>
                                                                <a href="/ru/free-hosting">Бесплатный хостинг</a>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-xs-4">
                            <nav>
                                <ul class="menu">
                                    <li>
                                        <a href="/ru/faq">Вопрос-Ответ</a>
                                        <li>
                                            <a href="/ru/feedback">Задать вопрос</a>
                                            <li>
                                                <a href="/ru/articles">Полезные статьи</a>
                                                <li>
                                                    <a href="/ru/manual">Руководство по ПУ</a>
                                                    <li>
                                                        <a href="/ru/api">Beget.API</a>
                                                        <li>
                                                            <a href="https://sprut.io">Sprut.io</a>
                                                            <li>
                                                                <a href="https://firststat.ru">FirstStat.ru</a>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-copy" class="container">
            <div class="row">
                <div class="col-xs-6">
                    <p>
                        &copy; 2007–2017 ООО &laquo;Бегет&raquo;
                        <br/>

                        <span class="license">
                            Зарегистрированный товарный знак
                            <a href="/ru/documents?typelic=trademark">№530993</a>. Лицензия Роскомнадзор
                            <a href="/ru/documents?typelic=telematic">№117737</a>. Свидетельство о регистрации СМИ
                            <a href="/ru/documents?typelic=massmedia">№ФС77-62422</a>. Выдано Федеральной службой по надзору в сфере связи, информационных
                            технологий и массовых коммуникаций (Роскомнадзор).
                            <br> Сайт может содержать контент, не предназначенный для лиц младше 16 лет.
                        </span>

                    </p>
                </div>
                <div class="col-xs-6">
                    <p class="pull-right">

                    </p>
                </div>


            </div>
            <div class="row rkn-wrapper">
                <div class="rnk_lbl">
                    16+
                </div>
            </div>
            -->
        </div>
    </div>
</footer>